@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #FFFC31;
    margin: 0 7%;
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn ease 2s;
}
h1{
    text-align: center;
    width: 50%;
    margin: 23vh auto 3rem auto;
    font-size: 3.12rem;
    color: #393E41;
    user-select: none;
}
h2{
    text-align: left;
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 500;
    color: #393E41;
    user-select: none;
}
i{
    margin-right: 10px;
}
p{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
span{
    font-size: 2rem;
    color: crimson;
    margin-left: 10px;
}
#colorPicker{
    margin: 1.25rem auto;
    font-size: 1.5rem;
    background-color: #FFFC31;
    outline: none;
    color: #393E41;
    border: 1px solid #393E41;
    padding: 6px 15px;
    border-radius: 20px;
    cursor: pointer;
}
#reset{
    margin: 1.25rem 0 0 20px;
    font-size: 1.5rem;
    background-color: #FFFC31;
    outline: none;
    color: #393E41;
    border: 1px solid #393E41;
    padding: 6px 15px;
    border-radius: 20px;
    cursor: pointer;
}
#colorInput{
    font-size: 1.75rem;
    text-align: left;
    width: 150px;
    font-weight: 500;
    text-decoration: none;
    background-color: #FFFC31;
    outline: none;
    border: none;
    margin-top: 5px;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
